#Sonny {
	height: 300px;
	width: 300px;

}

#soon {

	width: 40%;
	position: auto;
}

#name{
	text-align: center;
}

#motto {
	text-align: center;
}

.SonnyTag {
	veritcal-align: top;
	display: inline-block;
	text-align: center;
}
.caption {
	display: block;
}

.team {
	background: url("https://i.ytimg.com/vi/rpWrtXyEAN0/maxresdefault.jpg");
	color: white;
}
body{

}